body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


/* HERO */

.hero {
    min-height: 500px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: white;

    background:
        linear-gradient(
            rgba(0,0,0,0.65),
            rgba(0,0,0,0.65)
        ),
        url("../imagenes/fondo.jpg");

    background-size: cover;

    background-position: center;

    padding: 80px 20px;
}


.hero h1 {
    font-size: 60px;

    font-weight: bold;

    margin-bottom: 20px;
}


.hero p {
    font-size: 20px;

    margin-bottom: 30px;
}


/* FORMULARIOS */

.formulario {

    max-width: 500px;

    margin: 50px auto;

    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

}


/* PRODUCTOS */

.producto-card {

    transition: 0.3s;

}


.producto-card:hover {

    transform: translateY(-5px);

}


.producto-card img {

    height: 220px;

    object-fit: cover;

}


/* RESPONSIVE */

@media (max-width: 768px) {

    .hero h1 {

        font-size: 40px;

    }

    .hero p {

        font-size: 17px;

    }

}
